@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
// Title font

@import "variables";
// Variables

@import '~bulma/bulma';
// Bulma core

@import "~font-awesome/scss/font-awesome.scss";
// FontAwesome 4.7

@import "positioning";
// Positioning helpers

@media screen and (max-width: 768px) {
    .reverse-row-mobile {
        flex-direction: row-reverse
    }
}

.fancy-font {
    font-family: 'Amatic SC', cursive;
    font-weight: 700
}

.is-size-0 {
    font-size: 5rem
}

.footer {
    padding: 3rem 1.5rem
}
