@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
// Title font

@import "variables";
// Variables

@import '~bulma/bulma';
// Bulma core

@import "~font-awesome/scss/font-awesome.scss";
// FontAwesome 4.7

@import "positioning";
// Positioning helpers

.reverse-row {
    flex-direction: row-reverse
}
// Bulma only uses flex above mobile...
// So, force the new game to appear on the left on desktop as its safe
// to say the game is more likely to be created on a laptop/tablet device.
// forcing the join game to be above on mobile which is mostly what will
// be utilised on that device.

.fancy-font {
    font-family: 'Amatic SC', cursive;
    font-weight: 700
}

.is-size-0 {
    font-size: 5rem
}

.footer {
    padding: 3rem 1.5rem
}
